@import "./root.css";
@import "./media.css";
@import "./nav.css";
@import "./sneaker-details.css";

@font-face {
   font-family: "Kumbh Sans";
   src: url("/fonts/KumbhSans.ttf") format("truetype");
}

body {
   font-family: "Kumbh Sans", sans-serif;
   font-size: clamp(0.9rem, 1vw, 1.1rem);
   font-weight: var(--font-weight-regular);
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   min-height: 100vh;
}

header, main, footer {
   width: 100%;
   max-width: var(--max-width);
   margin: 0 auto;
}

header {
   display: flex;
   align-items: center;
   justify-content: stretch;
   gap: 2.5rem;
   border-bottom: solid 1px var(--grey-light);
}

main {
   flex-grow: 1;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto 1fr;
   gap: 2rem;
   margin: 5rem auto 0 auto;
   width: 100%;
}

footer {
   font-size: 0.8rem;
   text-align: center;
   padding: 0.5rem;
}

.company-name {
   font-size: 0.8rem;
   font-weight: var(--font-weight-bold);
   letter-spacing: 0.25rem;
   text-transform: uppercase;
}

.button-icon {
   all: unset;
}
